
  <app-navbar></app-navbar>

  <div class="py-4">
    <h1>Community Manager</h1>
    <hr class="animated bounceInRight">
    <div class="py-3">
      <h5>Se usa hoy en día como nuevo método o forma con la que tu vas a hacer llegar lo
        que vendes a las personas que les puede interesar a travez de redes sociales.</h5>
    </div>
    <div class="card card-body text-dark py-4">
      <div class="card-title">
        <h3>Nuestros servicios de Community Manager:</h3>
      </div>
      <div class="card-text">
        <ul>
          <li> Análisis y estudio de mercado (tarjet). </li>
          <li> Estrategia de los requerimientos. </li>
          <li> Sesiones fotográficas. </li>
          <li> Contenido gráfico y multimedia para redes sociales. </li>
          <li> Diseño gráfico (Edición de fotos, videos, web, etc). </li>
          <li> Contenido semanal (imagenes, video, gif, etc, con descripción ). </li>
          <li> Interacción con los usuarios. </li>
          <li> Estadísticas, rendimiento y posicionamiento de la marca/producto. </li>
        </ul>
      </div>
    </div>
  </div>

