@import "../../../styles";

body{
  padding-top: 71px;
}

header{
  font-family: "DM-Bold";
  font-size: $tamañoMediano;
  color: white;
  background: black;

  .navbar {
    background: black !important;
    color: white !important;

    .nav-link{
      cursor: pointer !important;
      background: black !important;
      color: white !important;
      font-family: "DM-Bold" !important;
      font-size: $tamañoMediano !important;
    }

  }
}

.menu{

  a{
    cursor: pointer !important;
  }
  img{
    margin-top: 0;
    padding-top: 0;
  }
}
