<header>
  <nav class="navbar navbar-expand-md d-md-none navbar-dark bg-dark fixed-top">
    <a [routerLink]="['/home']" class="navbar-brand d-block d-md-none"> <img src="https://stratos-web.s3.amazonaws.com/Website-Stratos-logo.png" width="60px" alt="Stratos"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#stratos-nav" aria-controls="stratos-nav" aria-expanded="false" aria-label="Menu de Navegacion">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-md-none" id="stratos-nav">
      <ul class="navbar-nav mr-auto d-md-none">
        <li class="nav-item">
          <a class="nav-link">Acerca de</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item">Nuestros servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link item">Contacto</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="menu d-none d-md-block fixed-top">
    <div class="row">
      <div class="col-4 py-5 d-flex justify-content-around">
        <a>Acerca de</a>
        <a>Portafolio</a>
      </div>
      <div class="col-4 py-2 d-flex justify-content-around">
        <a ><img src="https://stratos-web.s3.amazonaws.com/Website-Stratos-logo.png" width="100px" alt="Stratos"></a>
      </div>
      <div class="col-4 py-5 d-flex justify-content-around">
        <a>Nuestros servicios</a>
        <a>Contacto</a>
      </div>
    </div>
  </div>
</header>
