<div class="row text-dark">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Comunnity Manager</h5>
        <p class="card-text">Estrategia para poder llegar a tus clientes.</p>
        <div class="text-right">
          <button class="btn btn-small btn-dark"> Necesito </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-dark">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Empresa Digital</h5>
        <p class="card-text">Creación de correos empresariales, pagina web y servicios google.</p>
        <div class="text-right">
          <button class="btn btn-small btn-dark"> Necesito </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-dark">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Software a la medida</h5>
        <p class="card-text">Creación de plataformas, paginas web y apps.</p>
        <div class="text-right">
          <button class="btn btn-small btn-dark"> Necesito </button>
        </div>
      </div>
    </div>
  </div>
</div>
