
<app-navbar></app-navbar>

<div class="py-4">
  <h1>Nuestros Servicios</h1>
  <hr class="animated bounceInRight">
  <div class="py-3">
    <h2>Identidad Corporativa</h2>
    <h5>Descripción de la identidad corporativa</h5>
    <ul>
      <li> Nombre de la marca/empresa. </li>
      <li> Imagen gráfica. </li>
      <li> Concepto rector. </li>
      <li> Manual de identidad. </li>
    </ul>
  </div>

  <div class="py-3">
    <h2>Community Manager</h2>
    <h5>Descripción de community manager</h5>
    <ul>
      <li> Análisis y estudio de mercado (tarjet). </li>
      <li> Estrategia de los requerimientos. </li>
      <li> Sesiones fotográficas. </li>
      <li> Contenido gráfico y multimedia para redes sociales. </li>
      <li> Diseño gráfico (Edición de fotos, videos, web, etc). </li>
      <li> Contenido semanal (imagenes, video, gif, etc, con descripción ). </li>
      <li> Interacción con los usuarios. </li>
      <li> Estadísticas, rendimiento y posicionamiento de la marca/producto. </li>
    </ul>
  </div>

  <div class="py-3">
    <h2>Diseño gráfico y editorial</h2>
    <h5>Descripción de diseño gráfico y editorial</h5>
    <ul>
      <li> Documentos impresos y digitales. </li>
      <li> Flayers. </li>
      <li> Tarjetas de presentación. </li>
      <li> Folletos. </li>
      <li> Dipticos. </li>
      <li> Infografiás. </li>
      <li> Presentaciones. </li>
    </ul>
  </div>

  <div class="py-3">
    <h2>Diseño multimedia</h2>
    <h5>Descripción de diseño multimedia</h5>
    <ul>
      <li> Edición de audio y video. </li>
      <li> Edición y retoque fotográfico. </li>
      <li> Modelado en 3D. </li>
    </ul>
  </div>

  <div class="py-3">
    <h2>Diseño web</h2>
    <h5>Descripción de diseño web</h5>
    <ul>
      <li> Diseño frontend con UX/UI. </li>
      <li> Desarrollo de paginas web. </li>
    </ul>
  </div>

  <div class="py-3">
    <h2>Empresa digital</h2>
    <h5>Tu espacio empresarial en internet.</h5>
    <ul>
      <li> Dominio de tu empresa (www.tuempresa.com). </li>
      <li> Correos empresariales. </li>
      <li> Landingpage. </li>
      <li> Servicios gestores de Google (Drive, Docs, etc). </li>
    </ul>
  </div>

</div>

