@import "../../../styles";

.frase{
  padding-top: 100px;
  color: white;

  h3{
    padding-top: 100px;
    font-family: "DM-Bold";
    font-size: $tamañoMuyGrande;
  }

  h4{
    padding-top: 100px;
    font-family: "DM-Bold";
    font-size: $tamañoMuyGrande;
  }
}
