<div class="text-center animated bounceInRight">
    <h1 class="cover-heading">Nosotros</h1>
    <p class="py-2">Descripcion corta de nosotros.</p>
    <p class="py-3">
      <button href="#" class="btn btn-lg btn-light">Mas acerca de nosotros</button>
    </p>
</div>

<div class="text-center py-3 animated bounceInLeft">
  <h1 class="cover-heading">Nuestros Clientes</h1>
  <div class="row">
    <div class="col">Cliente uno</div>
    <div class="col">Cliente dos</div>
    <div class="col">Cliente tres</div>
    <div class="col">Cliente cuatro</div>
    <div class="col">Cliente cinco</div>
  </div>
</div>

